:root {
  --primary-color: white;
  --background-color: #2a2a2a;
  --title-font-family: "Montserrat", sans-serif;
  --content-font-family: "Lato", sans-serif;
}
body {
  color: #333;
  font-family: var(--content-font-family);
  font-weight: normal;
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
  margin-top: 200px;
}

h1 {
  color: white;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0;
  font-weight: 30px;
  font-size: 60px;
  display: block;
  font-family: var(--title-font-family);
}

.navbar-color {
  background-color: #2d2d2d;
  opacity: 0.9;
  font-weight: 600;
  font-family: var(--title-font-family);
}

#navbarNav {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--title-font-family);
}
