:root {
  --primary-color: white;
  --background-color: #2a2a2a;
  --title-font-family: "Montserrat", sans-serif;
  --content-font-family: "Lato", sans-serif;
}
body {
  color: #333;
  font-family: var(--content-font-family);
  font-weight: normal;
  background-color: #2d2d2d;
  margin-top: 150px;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 30px;
  font-size: 60px;
  margin-bottom: 20px;
  font-family: var(--title-font-family);
}

.navbar-color {
  background-color: #c8c8c8;
  font-family: var(--title-font-family);
  padding: 3px;
  opacity: 0.8;
}
#navbarNav {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--title-font-family);
}
hr {
  width: 400px;
  display: block;
  margin: auto;
  color: white;
}
.fa-github,
.fa-square-phone,
.fa-envelope,
.fa-linkedin {
  color: white;
  align-items: center;
  text-decoration: none;
  margin: -150 auto;
  padding: 0.5em;
  font-weight: 30px;
  font-size: 60px;
}
.icons {
  display: flex;
  justify-content: center;
}
#connect {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
