:root {
  --primary-color: white;
  --background-color: #2a2a2a;
  --title-font-family: "Montserrat", sans-serif;
  --content-font-family: "Lato", sans-serif;
}
body {
  color: #333;
  font-family: var(--content-font-family);
  font-weight: normal;
  background-color: #2d2d2d;
  margin-top: 70px;
  text-align: center;
}

h1 {
  color: white;
  font-weight: 30px;
  font-size: 60px;
  margin-top: 60px;
  font-family: var(--title-font-family);
}

.navbar-color {
  background-color: #c8c8c8;
  font-family: var(--title-font-family);
  opacity: 0.8;
}
#navbarNav {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--title-font-family);
}
hr {
  width: 500px;
  display: block;
  color: white;
  margin: 0 auto;
}
.fa-github,
.fa-square-phone,
.fa-envelope,
.fa-linkedin {
  color: white;
  text-decoration: none;
  font-weight: 30px;
  font-size: 50px;
}
.connect-picture {
  display: block;
  margin: 40px auto;
  max-width: 100%;
  border-radius: 30px;
  width: 450px;
}
footer {
  text-align: center;
  margin: 0 10px;
}
