:root {
  --primary-color: white;
  --background-color: #2a2a2a;
  --title-font-family: "Montserrat", sans-serif;
  --content-font-family: "Lato", sans-serif;
}
body {
  background-color: white;
  margin-top: 70px;
  font-family: var(--content-font-family);
}
h1 {
  color: #2a2a2a;
  display: block;
  font-weight: 30px;
  font-size: 60px;
  font-family: var(--title-font-family);
}
p {
  color: #2a2a2a;
  font-family: var(--content-font-family);
  font-size: 30px;
}
#header-page {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/063/608/original/4900340.jpg?1674161230");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vw;
  min-height: 250px;
  max-height: 350px;
}

.navbar-color {
  background-color: #2a2a2a;
  opacity: 0.9;
  font-weight: 600;
  font-family: var(--title-font-family);
}

#navbarNav {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--title-font-family);
}
hr {
  color: #f5b400;
}
