:root {
  --primary-color: white;
  --background-color: #2a2a2a;
  --title-font-family: "Montserrat", sans-serif;
  --content-font-family: "Lato", sans-serif;
}

#header-page {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/063/608/original/4900340.jpg?1674161230");
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vw;
  min-height: 250px;
  max-height: 370px;
  margin-top: 50px;
  max-width: 100%;
}

hr {
  color: #f5b400;
}
body {
  color: #333;
  font-family: var(--content-font-family);
  font-weight: normal;

  background-color: #2d2d2d;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: white;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin-bottom: 2%;
  font-weight: 30px;
  font-size: 60px;
  display: block;
  font-family: var(--title-font-family);
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}
.cardBox .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY(180deg);
}

.card .back a {
  padding: 0.5em 0.7em;
  background: teal;
  box-shadow: 5px 2px 2px rgb(180, 179, 179);
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  font-size: 0.9em;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: #f0cbd3;
}

.cardBox:nth-child(2) .card .back {
  background: #596e79;
}

.cardBox:nth-child(3) .card .back {
  background: #958c84;
}

.cardBox:nth-child(4) .card .back {
  background: #b6e2f8;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

.fa-github,
.fa-square-phone,
.fa-envelope,
.fa-linkedin {
  color: white;
  font-size: 40px;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}
hr {
  width: 400px;
  display: block;
  margin: auto;
  color: white;
}
.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.cardBox {
  margin-bottom: 3%;
}
.nav-item {
  padding: 0 20px;
}
.navbar-color {
  background-color: #c8c8c8;
  font-family: var(--title-font-family);
  opacity: 0.8;
}
#navbarNav {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--title-font-family);
  
}
@media only screen and (max-width: 600px) {
  .hero {
    padding: 40px auto;
  }

  .hero h2 {
    font-size: 25px;
  }
  .hero h1 {
    font-size: 20px;
  }

  .hero p {
    font-size: 15px;
  }
  hr {
  width: 200px;
  display: block;
  margin: auto;
  color: white;
  margin-bottom: 10px;
}
}


